<!--
<h1>
  {{ unContact.name }}
  <small>
    {{ unContact.username }}
  </small>
</h1>
-->

<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <!--
            Avec l'expression {{ }} j'affiche
            le contenu de mes variables.
          -->
          {{ title }}
        </a>
      </div>
    </nav>
  </header> <!-- /.header -->
  <div class="row">
    <div class="col-sm-4">
      <div class="list-group">
        <a *ngFor="let contact of mesContacts"
           (click)="showProfil(contact)"
           [class.active]="contactActif === contact"
           href="javascript:void(0)"
           class="list-group-item list-group-item-action">
          {{ contact.name }}
        </a>
      </div> <!-- /.list-group -->
      <app-ajouter (newContactEvent)="addContact($event)"></app-ajouter>
    </div> <!-- /.col-sm-4 -->
    <div class="col-sm-8">
      <app-profil (saveContactEvent)="saveContacts()"
                  [contactActif]="contactActif"></app-profil>
    </div> <!-- /.col-sm-8 -->
  </div> <!-- /.row -->
  <pre>
    <!--{{ mesContacts | json }}-->
  </pre>
  <footer class="text-center">
    Copyright &copy; 2019 - Les Mureaux
  </footer>
</div> <!-- /.container -->
